<div class="row mt-5">
   <div class="col-md-12 justify-content-center d-flex">
      <h1 style="font-size:50px;align-self: center;">Store</h1>
   </div>
</div>
<!-- Button trigger modal -->

<button type="button" (click)="onReset()" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Add Store
</button>
<hr>
<button type="button" class="btn btn-primary" (click)="exportAsXLSX()">
    Download XLSX file
</button>

<hr>
<div *ngIf="alert" class="alert alert-warning alert-dismissible fade show" role="alert">

    {{alertMsg}}

    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: rgb(107, 230, 235);">
                <h5 class="modal-title" id="exampleModalLabel">Store Detail Form</h5>
                <button type="button" style="color: rgb(54, 197, 80);" #closebutton class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form [formGroup]="storeForm" (ngSubmit)="submitForm()">
                        <div class="form-group">
                            <div>
                                <label>userId</label>
                                <input type="text" readonly formControlName="userId" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.userId.errors }" />
                                <div *ngIf="submitted && f.userId.errors" class="invalid-feedback">
                                    <div *ngIf="f.userId.errors.required">Store userId required</div>
                                </div>
                            </div>
                            <label>StoreId</label>
                            <input type="text" readonly formControlName="storeId" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.storeId.errors }" />
                            <div *ngIf="submitted && f.storeId.errors" class="invalid-feedback">
                                <div *ngIf="f.storeId.errors.required">Store storeId required</div>
                            </div>
                            <div>
                                <label>Name</label>
                                <input type="text" formControlName="name" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                    <div *ngIf="f.name.errors.required">Store name required</div>
                                </div>
                     
                            </div>
                            <div>
                                <label>TagLine</label>
                                <input type="tagLine" formControlName="tagLine" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.tagLine.errors }" />
                                <div *ngIf="submitted && f.tagLine.errors" class="invalid-feedback">
                                    <div *ngIf="f.tagLine.errors.required">Store tagLine required</div>
                                </div>
                            </div>
                            <div>
                                <label>Theme</label>
                                <input type="theme" formControlName="theme" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.theme.errors }" />
                                <div *ngIf="submitted && f.theme.errors" class="invalid-feedback">
                                    <div *ngIf="f.theme.errors.required">Store theme required</div>
                                </div>
                            </div>
                            <div>
                                <label>BackGroundImage</label>
                                <input type="file" class="form-control " formControlName="backGroundImage"
                                    (change)="onFileselected($event)" id="backGroundImage" />
                          
                            </div>
                            <div>
                                <label>Supports Multiple Language:</label>
                                <input class="form-check-input position-static" type="checkbox"
                                    formControlName="supportsMultipleLang" id="blankCheckbox" value="option1"
                                    style="margin-left: 0rem !important" />
                            </div>
                            <div>
                                <label>StoreRoute</label>
                                <input type="storeRoute" formControlName="storeRoute" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.storeRoute.errors }" />
                                <div *ngIf="submitted && f.storeRoute.errors" class="invalid-feedback">
                                    <div *ngIf="f.storeRoute.errors.required">Store storeRoute required</div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Save changes</button>
                            <button type="button" (click)="onReset()" class="btn btn-warning float-right">
                                Reset
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="spinner-border text-info-centre " *ngIf="Loading" role="status">
    <span class="visually-hidden">Loading...</span>
</div>


        <p-table p-table #datatable style="width: 9px;" *ngIf="storelist" [value]="storelist"
            styleClass="p-datatable-gridlines" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[10,15,20]"  [filterDelay]="0" [globalFilterFields]="['id','storeId','name']">
            
            <ng-template pTemplate="caption">
                <div style="text-align: right">

                    <i class="pi pi-search" style="margin:4px 4px 0 0"></i>

                    <input type="text" pInputText size="50" placeholder="Search by Id,StoreId,Name,Tagline"
                        style="width:auto" (input)="datatable.filterGlobal(getEventValue($event), 'contains')">

                </div>

            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th class="text-center" pSortableColumn="userId">UserId <p-sortIcon field="userId"></p-sortIcon>
                    </th>
                    <th class="text-center" pSortableColumn="storeId">StoreId <p-sortIcon field="storeId"></p-sortIcon>
                    </th>
                    <th class="text-center" pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon>
                    </th>
                    <th class="text-center" pSortableColumn="tagLine">TagLine <p-sortIcon field="tagLine"></p-sortIcon>
                    </th>
                    <th class="text-center" pSortableColumn="createdBy">CreatedBy <p-sortIcon field="createdBy">
                        </p-sortIcon>
                    </th>
                    <th class="text-center" pSortableColumn="active">Active <p-sortIcon field="active"></p-sortIcon>
                    </th>
                    <th class="text-center">Update </th>
                    <th class="text-center">Delete </th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-storeobj>
                <tr>
                    <td class="text-center">{{storeobj.userId}}</td>
                    <td class="text-center">{{storeobj.storeId}}</td>
                    <td class="text-center">{{storeobj.name}}</td>
                    <td class="text-center">{{storeobj.tagLine}}</td>
                    <td class="text-center">{{storeobj. createdBy}}</td>
                    <td class="text-center">{{storeobj.active}}</td>
                    <td class="text-center"><button type="button" class="btn btn-warning" data-toggle="modal"
                            data-target="#exampleModal" style="color: rgb(11, 11, 10);background-color: #00ff95;"
                            (click)="GetStoreById(storeobj.storeId)">Update</button></td>
           
                    <td class="text-center"><button type="button" class="btn btn-warning"
                            style="color: rgb(11, 11, 10);background-color: #f14b22;"
                            (click)="deleteStore(storeobj.userId)">Delete</button></td>
                </tr>
            </ng-template>
        </p-table>
 
