<body style="font: size 10px;">
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-12 justify-content-center d-flex">
        <h1 style="font-size:50px;align-self: center;">Products</h1>
      </div>
    </div>
    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
      <p style="font-size: 20px; color: white">Loading...</p>
    </ngx-spinner>
    
  
    <button pButton pRipple type="button" label="Add New Products" icon="pi pi-plus" class="p-button-rounded mb-3 p-button-primary"data-bs-toggle="modal"
     data-bs-target="#exampleModal" style="font-size:15px;margin-left:-6rem"></button><br>

     <button pButton pRipple type="button" label="Export as Excel" icon="pi pi-file-excel" class="p-button-rounded mb-3 p-button-secondary" 
      (click)="exportAsXLSX()" style="font-size:15px;margin-left:-6rem; background:rebeccapurple;"></button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 style="color:rgb(41, 211, 41)" class="modal-title" id="exampleModalLabel">Add Product Details</h4>
            <button type="button" class="btn-close update-close-btn" data-bs-dismiss="modal"
              aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="insertForm" (ngSubmit)="InsertProduct()">
              <div class="mb-3">
                <label for="id" class="form-label">Id</label>
                <input type="text" readonly class="form-control" id="id" formControlName="id">
              </div>
              <div class="mb-3">
                <label for="storeid" class="form-label">StoreId</label>
                <input type="number" formControlName="storeId" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f['storeId'].errors }" />
                <div *ngIf="submitted && f['storeId'].errors" class="invalid-feedback">
                  <div *ngIf="f['storeId'].errors['required']">StoreId is required</div>
                </div>
              </div>
              <div class="mb-3">
                <label for="categoryId" class="form-label">CategoryId</label>
                <input type="number" class="form-control" id="categoryId" formControlName="categoryId">
              </div>
              <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" formControlName="name" placehoder="Enter Name" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" />
                <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                  <div *ngIf="f['name'].errors['required']">Name is required</div>
                  <div *ngIf="f['name'].errors['minlenght']">
                    Name must be atleast 3 characters
                  </div>
                  <div *ngIf="f['name'].errors['maxlenght']">
                    Name must not exceed 20 characters
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <input type="text" formControlName="description" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f['description'].errors }">
                <div *ngIf="submitted && f['description'].errors" class="invalid-feedback">
                  <div *ngIf="f['description'].errors['required']">Description is required</div>
                </div>
              </div>
              <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input type="number" formControlName="price" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f['price'].errors }">
                <div *ngIf="submitted && f['price'].errors" class="invalid-feedback">
                  <div *ngIf="f['price'].errors['required']">Price is required</div>
                </div>
              </div>
              <div class="mb-3">
                <label for="favNote" class="form-label">FavNote</label>
                <input type="text" class="form-control" id="favNote" formControlName="favNote">
              </div>
              <div class="mb-3">
                <label for="createdBy" class="form-label">CreatedBy</label>
                <input type="text" class="form-control" id="createdBy" formControlName="createdBy">
              </div>
              <!-- <div class="mb-3">
                <label for="imagePath" class="form-label">ImagePath</label>
                <input type="text" class="form-control" id="imagePath" formControlName="imagePath">
              </div> -->
              <div class="mb-3">
                <label for="showPrice" class="form-label">ShowPrice</label>
                <input type="checkbox" [value]="" id="showPrice" formControlName="showPrice">
              </div>
              <div class="mb-3">
                <label for="active" class="form-label">Active</label>
                <input type="checkbox" [value]="" formControlName="active">
              </div>
              <button type="submit" class="btn btn-primary ">submit</button>
              <button type="reset" (click)="onReset()" style="margin-left: 2%" #closebutton class="btn btn-secondary"
                data-bs-dismiss="modal">Close</button>
            </form>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>
    </div>
    
<p-confirmDialog [style]="{width: '30vw'}" [baseZIndex]="10000"></p-confirmDialog>

    <div class="row" style="margin-left:-7rem; margin-right: -7rem;">
      <div class="col=md-25">
        <div class="form-group"></div>
         <!--p-Table--> 
    <p-table p-table #datatable style="width:10px;" *ngIf="listproduct " [value]="listproduct"
      styleClass="p-datatable-gridlines" responsiveLayout="true"  [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[5,10,15,20]" [filterDelay]="0" [globalFilterFields]="['id','storeId','name','price']">
      <!-- Global Filter User Input-->
      <ng-template pTemplate="caption">
        <div style="text-align: right">
          <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
          <input type="text" pInputText size="50" placeholder="Search by Id,StoreId,Name,Price" style="width:auto"
            (input)="datatable.filterGlobal(getEventValue($event), 'contains')">
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th class="text-center" style="color:#700c70" pSortableColumn="id">Id<p-sortIcon field="id"></p-sortIcon>
          </th>
          <th  class="text-center" style="color:#700c70" pSortableColumn="storeId">StoreId<p-sortIcon field="storeId"></p-sortIcon>
          </th>
          <th class="text-center" style="color:#700c70" pSortableColumn="categoryId">CategoryId<p-sortIcon field="categoryId">
            </p-sortIcon>
          </th>
          <th class="text-center" style=" width:2%; color:#700c70" pSortableColumn="name">Name<p-sortIcon field="name">
           </p-sortIcon>
          </th>
          <th class="text-center" style=" width:2%; color:#700c70" pSortableColumn="description">Description<p-sortIcon field="description">
            </p-sortIcon>
          </th>
          <th class="text-center" style="color:#700c70" pSortableColumn="showprice">Showprice<p-sortIcon field="showprice"></p-sortIcon>
          </th>
          <th class="text-center" style="color:#700c70" pSortableColumn="price">Price<p-sortIcon field="price"></p-sortIcon>
          </th>
          <th class="text-center" style="color:#700c70" pSortableColumn="favNote">FavNote<p-sortIcon field="favNote"></p-sortIcon>
          </th>
          <th class="text-center" style="color:#700c70" pSortableColumn="createdOn">CreatedOn<p-sortIcon field="createdOn"></p-sortIcon>
          </th>
          <th class="text-center" style="color:#700c70" pSortableColumn="createdBy">CreatedBy<p-sortIcon field="createdBy"></p-sortIcon>
          </th>
          <th class="text-center" style="color:#700c70" pSortableColumn="active">Active<p-sortIcon field="active"></p-sortIcon>
          </th>
          <!-- <th style="color:#700c70" pSortableColumn="imagepath"> Imagepath <p-sortIcon field="imagepath"></p-sortIcon>
          </th> -->
          <th class="text-center" style="color:#700c70">Delete</th>
          <th class="text-center" style="color:#700c70">Update</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-product>
        <tr>
          <td class="text-center">{{product.id}}</td>
          <td class="text-center">{{product.storeId}}</td>
          <td class="text-center">{{product.categoryId}}</td>
          <td class="text-center">{{product.name}}</td>
          <td class="text-center">{{product.description}}</td>
          <td class="text-center">{{product.showPrice}}</td>
          <td class="text-center">{{product.price}}</td>
          <td class="text-center">{{product.favNote}}</td>
          <td class="text-center">{{product.createdOn| date:'dd-MM-yyyy'}}</td>
          <td class="text-center">{{product.createdBy}}</td>
          <td class="text-center">{{product.active}}</td>
          <!-- <td>{{product.imagePath}}</td> -->

              <td>
                <button pButton pRipple type="button" label="Update" (click)="UpdateProduct(product)" routerLink=""
                  data-bs-toggle="modal" data-bs-target="#exampleModal" style="font-size: 15px;"
                  class="p-button-rounded p-button-success" icon="pi pi-pencil"></button>
              </td>
              
              <td style="text-align:center;">
                <button pButton pRipple type="button" label="Delete" (click)="Delete(product.id)" style="font-size: 15px; background :#fa3434"
                  class="p-button-rounded p-button-danger" icon="pi pi-trash"></button>
              </td>
        </tr>
      </ng-template>
    </p-table>
    </div>
    </div>
  </div>
</body>